#analytics{
  .page-overview, .page-content {
    [class*="span2"]{
      
      text-align: center
    }

    [class*="span"]{
      height: 30px;
    }


    .chart-container{
      width: 100%;
      height: 380px;
      position: relative;
      top:0px;
      left:0px;
    }


    .chart {
      position: absolute;
      left: 50px;
      top: 10px;
      height: 350px;
    }

    .y_axis {
      position: absolute;
      top: 10px;
      bottom: 0;
      width: 40px;
      height: 420px;
      left: 5px;
    }
    .rickshaw_graph svg {
      height: 340px;
    }
  }



  .page-insight{


    .chart-container{
      width: 100%;
      height: 400px;
      .insight-question-piechart{
        height: 100%;
        width: 100%;
      }
    }
    .loading {
      background: url(../assets/images/layout/loading2.gif) center top no-repeat;
      width: 100px;
      text-align: center;
      margin: 20px auto;
      
      p {
        padding: 70px 0 0 0;
      }
    }
  }

}