h1 OVERALL PAGE VIEWS
- if(!chart)
  .col3
    p(style="padding:10px;") Chart not available, please, select another interval...
- else
  div.rickshaw.chart-container
    div#content-pageviews-chart.chart
    div#content-pageviews-y_axis.y_axis
