div.page-title Content Overview (Page views)
.error

div.content-stats.page-block
  h1 OVERALL PAGE VIEWS
  .loading
    p Loading...

div.content-popular-modules.page-block.col2
  h1 MOST POPULAR PRESENTATIONS
  .loading
    p Loading...

div.content-top-pages.page-block.col2
  h1 TOP 10 PAGES
  .loading
    p Loading...

div.content-top-games.page-block.col2
  h1 TOP 10 GAME PLAYS
  .loading
    p Loading...

div.content-top-demo.page-block.col2
  h1 TOP 10 DEMO MODE PRESENTATIONS
  .loading
    p Loading...


div.clear