h1 #{data.title}
- if(data.stats && data.stats.length > 0)
  table.stat-list
      for stat, key in data.stats
        tr.number
          td
            h3 #{stat[data.showAttribute]}
          td
            h4 #{stat.pageViewCounter}
- else
  p Not available 