h1 MOST POPULAR PRESENTATIONS
- if(data.completes && data.completes.length > 0)
    table.stat-list
      tr
          th(colspan='2')
            h2 Completions
          
        for complete in data.completes
          tr.number.slidedeck-complete 
            td
              h3 #{complete.slidedeck}
            td
              h4 #{complete.completeCounter}
- else
  p Not available