h1 OVERALL APP OPENS
- if(!chart)
  .col3
    p(style="padding:10px;") Chart not available, please, select another interval...
- else
  div.rickshaw.chart-container
    div#overview-calls-chart.chart
    div#overview-calls-y_axis.y_axis
