div.page-title Visitors Overview
.error
div.overview-stats.page-block
  h1 OVERALL APP OPENS
  .loading
    p Loading...


div.overview-total.page-block
  h1 OVERALL STATS
  .loading
    p Loading...

div.overview-popular.page-block.col2
  h1 MOST POPULAR PRESENTATIONS
  .loading
    p Loading...

div.overview-state.page-block.col2
  h1 STATE TOTALS
  .loading
    p Loading...

div.clear