h1 STATE TOTALS
- if(data.calls && data.calls.length > 0)
  table.stat-list
    tr
      th
        h2 State
      th
        h2 Calls
      th
        h2 Completions
      for call, key in data.calls
        tr.number.state-complete 
          td
            h3 #{call.state}
          td
            h4 #{call.callCounter}
          td
            - if(data.completes && data.completes[key])
              h4 #{data.completes[key].completeCounter}


- else
  p Not available