h1 OVERALL STATS
.col3
  h2 Total Time
  ul.stat-info
    - if(data.total && data.total.length == 1)
      li
        h3 App
        h4 #{formatDuration(data.total[0].pageViewDuration)}
    - if(data.education && data.education.length == 1)
      li
        h3 Education
        h4 #{formatDuration(data.education[0].pageViewDuration)}
    - if(data.game && data.game.length == 1)
      li
        h3 Game
        h4 #{formatDuration(data.game[0].pageViewDuration)}
    - if(data.guest && data.guest.length == 1)
      li
        h3 Demo Mode
        h4 #{formatDuration(data.guest[0].pageViewDuration)}
.col3
  h2 Average Time
  ul.stat-info
    - if(data.call && data.call.length == 1)
      li
        h3 App
        h4 #{formatDuration(data.total[0].pageViewDuration / data.call[0].callCounter)}
      - if(data.education && data.education.length == 1)
        li
          h3 Education
          h4 #{formatDuration(data.education[0].pageViewDuration / data.call[0].callCounter)}
      - if(data.game && data.game.length == 1)
        li
          h3 Game
          h4 #{formatDuration(data.game[0].pageViewDuration / data.call[0].callCounter)}

.col3
  h2 Totals
  ul.stat-info
    - if(data.call && data.call.length == 1)
      li
        h3 Calls
        h4 #{data.call[0].callCounter}
    - if(data.complete && data.complete.length == 1)
      li
        h3 Presentation completions
        h4 #{data.complete[0].completeCounter}