body, html {
	font-family: 'Open Sans', sans-serif;
	background: #f0f0f0;
	color: #333;
	
	min-height: 100%;
	height: 100%;
}
.wrapper {
	height: auto !important;
	min-height: 100%;
	height: 100%;
	margin: 0;
	position: relative;

	.main-container{
		display: block;
	}

	.login-container{
		display: none;
	}

	nav.menu{
		display: block;
	}
}

#guest.wrapper {
	.main-container{
		display: none;
	}
	.login-container{
		display: block;
	}

	nav.menu{
		display: none;
	}
	
}




.clear {
	clear: both;
}
.loading {
	background: url(../assets/images/layout/loading2.gif) center top no-repeat;
	width: 100px;
	text-align: center;
	margin: 20px auto;
	
	p {
		padding: 70px 0 0 0;
	}
}
.page .loading{
	background: url(../assets/images/layout/loading.gif) center top no-repeat;
}