.main-container {
	min-width: 740px;
	padding-left: 260px;
	height: auto !important;
	min-height: 100%;
	height: 100%;
}
.page{
	margin : 0;
	padding: 0;
	padding-bottom:70px;

	.error {
		display: none;
		margin: 20px;
		padding: 15px;
		color: white;
		font-weight: 300;
		font-size: 14px;
		background: #E74141;
		background: -moz-linear-gradient(top, #E74141 0%, #D82828 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E74141), color-stop(100%, #D82828));
		background: -webkit-linear-gradient(top, #E74141 0%, #D82828 100%);
		background: -o-linear-gradient(top, #E74141 0%, #D82828 100%);
		background: -ms-linear-gradient(top, #E74141 0%, #D82828 100%);
		background: linear-gradient(to bottom, #E74141 0%, #D82828 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74141', endColorstr='#d82828', GradientType=0);
		border: 1px solid #BC1F1F;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5);
		-moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5);
		-webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5);

		strong{
			font-weight: 600;
		}
	}

	/* PAGE TITLE */
	div.page-title {  
		font-size: 20px;
		font-weight: 600;
		color: #fff;
		background: #479ddb;
		z-index: 20;
		height: 20px;
		padding:20px;
	}

	div.page-block {
		background: #fff;
		border:1px solid #aaa;
		margin: 20px;
		margin-bottom: 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		min-height: 200px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);

		h1 {
			margin: 0;
			padding:15px 20px;
			text-transform: uppercase;
			font-weight: 700;
			text-shadow: 0 1px 1px #fff;

			background: rgb(244,244,244); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(228,228,228,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(228,228,228,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(228,228,228,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(228,228,228,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(228,228,228,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
			-webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-topleft: 4px;
			-moz-border-radius-topright: 4px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom: 1px solid #aaa;

			box-shadow: inset 0 1px 1px #fff;
			-moz-box-shadow: inset 0 1px 1px #fff;
			-webkit-box-shadow: inset 0 1px 1px #fff;
		}

		h2 {
			font-size: 15px;
			font-weight: 400;
			text-transform: uppercase;
			padding:0 0 10px;
			border-bottom: 2px solid #479ddb;
		}
		h3 {
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			padding:20px 0 6px;
		}
		h4 {
			font-size: 26px;
			font-weight: 600;
		}
		div.col3 {
			display: inline-block;
			width: 30%;
			padding: 24px 1.66%;
			vertical-align: top;
		}
		div.col2 {
			display: inline-block;
			width: 46%;
			padding: 24px 1.66%;
			vertical-align: top;
		}
		&.col2 {
			display: inline-block;
			width: 46%;

			&:nth-of-type(odd) {
				float:left;
				margin-right: 0;
			}
			&:nth-of-type(even) {
				float:right;
				margin-left: 0;
			}
		
			h2 {
				margin: 24px 15px 10px;
			}
			p {
				padding:20px;
			}

			/* Alternating colour row list */
			li {
				padding: 10px 15px;
				background: #fff;

				h3 {
					font-size: 16px;
					padding:0;
					width: 60%;
					display: inline-block;
				}
				h4 {
					width: 40%;
					display: inline-block;
				}
			}
			li:nth-of-type(even) {
				background: #fafafa;
			}
			li:last-of-type {
				-webkit-border-bottom-right-radius: 4px;
				-webkit-border-bottom-left-radius: 4px;
				-moz-border-radius-bottomright: 4px;
				-moz-border-radius-bottomleft: 4px;
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			/* table */
			table {
				width: 100%;

				h2 {
					margin: 24px 0 10px;
				}

				-webkit-border-bottom-right-radius: 4px;
				-webkit-border-bottom-left-radius: 4px;
				-moz-border-radius-bottomright: 4px;
				-moz-border-radius-bottomleft: 4px;
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			th {
				background: #fff;
				text-align: left;

				h2 {
					padding: 24px 15px 10px;
					margin: 0;
				}
			}
			th:first-of-type {
				padding-left: 15px;
				h2 {
					padding: 24px 0 10px;
				}
			}
			th:last-of-type {
				padding-right: 15px;
			}
			tr {
				height: 46px;
			}
			tr:nth-of-type(odd) {
				background: #fafafa;
			}
			tr:last-of-type td:first-of-type {
				-webkit-border-bottom-left-radius: 4px;
				-moz-border-radius-bottomleft: 4px;
				border-bottom-left-radius: 4px;
			}
			tr:last-of-type td:last-of-type {
				-webkit-border-bottom-right-radius: 4px;
				-moz-border-radius-bottomright: 4px;
				border-bottom-right-radius: 4px;
			}
			td {
				padding:0 15px;
			}
		}
	}



}