header {
	.fixed-header {
		background: #333;
		height:20px;
		padding: 15px 20px;

		h1 {
			text-align: right;
			color: #fff;
			font-weight: 600;
			font-size: 20px
		}

		.fit-logo {
			background: url(../assets/images/layout/FieldInTouch-logo.png);
			background-size: 100px 30px;
			width: 100px;
			height: 30px;
			position: absolute;
			top:10px;
			left: 20px;
		}
	}
	.company-header {
		background: url(../assets/images/layout/companyHeader-bg.png);
		min-height: 110px;
		border-bottom: #479ddb 3px solid;
		position: relative;

		.company-logo {
			background-size: 120px 70px;
			width: 120px;
			height: 70px;
			position: absolute;
			top: 20px;
			left:20px;
		}

		
		

		.company-logo.ITA {
			background-image: url(../assets/images/applications/imperial-logo.png);
		}
		.company-logo.XOLAIR {
			background-image: url(../assets/images/applications/xolair-logo.png);
		}
		.login-instructions {
			font-size: 22px;
			padding: 50px 0;
			text-align: center;
			line-height: 28px;
			font-weight: 600;
		}
	}

	.filters{
		position: absolute;
		top: 70px;
		right:20px;

		

		.market-state-combo {
			position: relative;
			top:0px;
			right:0px;
			h1 {
        font-weight: 600;
        margin-top: 22px;
        margin-bottom: 10px;
        text-align: right;
      }
			select {
				width:100px;
				background: white;
				padding: 5px;
				font-size: 16px;
				border: 1px solid #ccc;
				text-align: center;
				font-size: 12px;
				height: 30px;
				line-height: 30px;
				color: #404040;
				margin-left: 10px;
			}

		}

		.datepicker-field {
			position: absolute;
			top: 108px;
			right:0px;
			z-index: 1;
		}
	}
}