#guest .filters {
	display: none;
}
.login-container {
	margin: auto;
	text-align: center;
	width: auto;
	min-height: 500px;
}
.login {
    background: #fff;
    border:1px solid #aaa;
    margin: 30px auto 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
	text-align: left;

	box-shadow: 0 3px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.2);

	.modal-header {
      margin: 0;
      padding:15px 20px;
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: 0 1px 1px #fff;

      background: rgb(244,244,244); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(228,228,228,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(228,228,228,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(228,228,228,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(228,228,228,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(228,228,228,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
      -webkit-border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-topright: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid #aaa;

      box-shadow: inset 0 1px 1px #fff;
      -moz-box-shadow: inset 0 1px 1px #fff;
      -webkit-box-shadow: inset 0 1px 1px #fff;
	}
	.modal-body {
		padding: 20px;
		padding-bottom: 0;
	}
	.modal-footer {
		padding: 20px;
		padding-top: 0;
	}

	label {
		font-size: 15px;
	}

	input[type="text"], input[type="password"] {
		width: 270px;
		padding: 0 15px;
		font-size: 16px;
		font-weight: 300;
		height: 40px;
		color: #fff;
		border:2px solid #bbb;

		background: #555;
		box-shadow: inset 0 3px 3px rgba(0,0,0,0.4);
		-moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.4);
		-webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.4);

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin-bottom: 20px;
		margin-top: 5px;
	}
	input[type="text"]:focus, input[type="password"]:focus {
		outline:none;
		border:2px solid #479ddb;
		box-shadow: 0 0 6px rgba(31,118,182,0.8);
	}
	button {
		width: 300px;
		height: 45px;
		border-style: none;
		font-size: 16px;
		font-weight: 600;
		text-shadow: 0 1px 1px #fff;
		text-transform: uppercase;

		border: 1px solid #888;
		background: rgb(233,233,233);
		background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(198,198,198,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,1)), color-stop(100%,rgba(198,198,198,1)));
		background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(198,198,198,1) 100%);
		background: -o-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(198,198,198,1) 100%);
		background: -ms-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(198,198,198,1) 100%);
		background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(198,198,198,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#c6c6c6',GradientType=0 );
		
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		box-shadow: inset 0 1px 1px #fff, 0 2px 2px rgba(0,0,0,0.2);
		-moz-box-shadow: inset 0 1px 1px #fff, 0 2px 2px rgba(0,0,0,0.2);
		-webkit-box-shadow: inset 0 1px 1px #fff, 0 2px 2px rgba(0,0,0,0.2);
	}
	button:hover, button:active {
		background: rgb(198,198,198);
		background: -moz-linear-gradient(top,  rgba(198,198,198,1) 0%, rgba(233,233,233,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,198,198,1)), color-stop(100%,rgba(233,233,233,1)));
		background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(233,233,233,1) 100%);
		background: -o-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(233,233,233,1) 100%);
		background: -ms-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(233,233,233,1) 100%);
		background: linear-gradient(to bottom,  rgba(198,198,198,1) 0%,rgba(233,233,233,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#e9e9e9',GradientType=0 );
		
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
	}
	.error {
		display: none;
		text-align: center;
		font-size: 13px;
		margin: 0;
		margin-bottom: 20px;
	}
}
