.slider-container .page-block:first-of-type {
  margin-top: 10px;
}
nav.slider-control {
  width: 100%;
  position: relative;
  top: 2px;
  left:0;
}
.slider-control-position {
  text-align:center;
  font-size:27px;
  line-height:1.3;
  color:#777777;
  display:block;
  position:absolute;
  top:0;
  left:50%;
  margin-left:-75px;
  width:150px;
}
.slider-control-position em {
  display:inline-block;
  padding:0 3px;
  font-style:normal;
  font-family:sans-serif;
  color: #999999;
}
.slider-control-position em.active {
  color:#479DDB;
}
.slider-control-prev {
  display:inline-block;
  text-decoration:none;
  color:#777777;
}
.slider-control-prev:hover {
  color: #479DDB;
}
.slider-control-prev em {
  display:block;
  padding:10px 13px 8px;
  font-style:normal;
  font-weight:bold;
  font-size:11px;
  text-transform:uppercase;
  
  letter-spacing:1px;
}
.slider-control-next {
  color:#777777;
  display:inline-block;
  text-decoration:none;
  position:absolute;
  right:0;
  top:0;
}

.slider-control-next em {
  display:block;
  padding:10px 13px 8px;
  font-style:normal;
  font-weight:bold;
  font-size:11px;
  text-transform:uppercase;
  
  letter-spacing:1px;
}

.slider-control-next:hover {
  color: #479DDB;
}
