#cms{

  .thumbnail:hover{
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    opacity: 1;
  }


  .thumbnail{
    position:relative;
    height:100px;
    width: 210px;
    margin: 5px;  
    opacity: 0.5;
      

    .thumbnail-footer{
      position:absolute;
      bottom: 7px;
      left:0px;
      right:10px;
      text-align: right;
      button{
        margin-left:5px;
      }
    }
    
    .device{
      position:absolute;
      bottom:7px;
      left:7px;
      height:50px;
      width: 50px;
      background-size: 50px 50px;
    }

    .language{
      position:absolute;
      bottom:5px;
      left:55px;
      height:50px;
      width: 50px;
      background-size: 50px 50px;
      padding: 0px;
    }


    .thumbnail-title{
      position: relative;
      cursor: pointer;
      height:65px;
      width:100%;
      background-color: #CCC;
      text-align: center;
      padding-top: 10px;
      overflow:hidden;
      font-size: 22px;
      line-height: 27px;
      margin: 0;
      font-family: inherit;
      font-weight: bold;
      color: inherit;
      text-rendering: optimizelegibility;

    }

    .thumbnail-title:after{
      content: " "; 
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      border: 1px solid rgba(255, 255, 255, 0.1); border-bottom: 0;
      -webkit-background-origin: border-box;
      -moz-background-origin: border;
      background-origin: border-box;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .50))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .25)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
      background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
      background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    }
  }

  .thumbnail.new{
    opacity: 0.8;
    .thumbnail-title{
      height: 90px;
    }
  }


  /* SECTION TITLE */
  div.section-title {  
  font-size: 30px;
  line-height: 50px;
  font-family: inherit;
  font-weight: bold;
  background: no-repeat 0 0;
  background-size: 46px 48px;
  z-index: 20;
  padding-left: 50px;
  height: 50px;
  margin: 10px;
  }

  .device.ipad {
  background-image: url("../assets/images/icons/devices/ipad.png");
  }
  .device.iphone {
  background-image: url("../assets/images/icons/devices/iphone.png");
  }
  .device.android {
  background-image: url("../assets/images/icons/devices/android.png");
  }

  .language{
  background-size: 48px 48px;
  background-position: left;
  padding-left: 50px;
  }

  .language.en {
  background-image: url("../assets/images/icons/flags/en.png");
  }

  section#section-InGage div.section-title {
  background-image: url("../assets/images/sections/ingage-small.png");
  }
  section#section-InGame div.section-title {
  background-image: url("../assets/images/sections/ingame-small.png");
  }
  section#section-InTraining div.section-title {
  background-image: url("../assets/images/sections/intraining-small.png");
  }
  
  .page-home {
    nav {
      width: 100%;
      height: 400px;
       
      ul {
        display: block;
    
        li {
          
          list-style: none;
          padding-left: 10px;
          width: 200px;
          height: 265px;  
          display: inline-block;
          
          a {
            
            text-decoration: none;
            color: #000;

            .title {
               font-weight: 800;   
               font-size: 30px;
               display: block;
               padding: 5px 25px 10px;
               color: #444444;
            }
            
            .icon {
              position: relative;
              background: no-repeat;
              background-size: 100%;
              display: block;
              height: 100%;
              -webkit-transform:translate3d(0,0,0)
            }
          }
          &:hover {
            .title {
              text-shadow: 0 0 3px #fff;
              color: #000;
            }
            
            .icon:after {
              content: "";
              position: absolute;
              top: 2px;
              left: 5px;
              width: 190px;
              height: 190px;
              border-radius: 10px;
              box-shadow: inset 0 0 20px #fff;
              z-index: 99;
            }
          }
        }

        li.InGage a .icon {
          background-image: url("../assets/images/sections/ingage.png");
        }

        li.InGame a .icon {
          background-image: url("../assets/images/sections/ingame.png");
        }

        li.InTraining a .icon {
          background-image: url("../assets/images/sections/intraining.png");
        }
      }
    }
  }


}
