div.page-title InSight
.error
nav.slider-control
  a.slider-control-prev(href='#')
    em prev
  span.slider-control-position
    for question in data.questions
      em.insight-question-bullet(id="bullet-question-"+question.slide) •
  a.slider-control-next(href='#')
    em next
.slider-container
  ul
    for question in data.questions
      li
        .insight-question(id="question-"+question.slide)
          .loading
            p Loading...


