div.question-pie.page-block
  h1 #{data.question}
  .chart-container.nv
    .insight-question-piechart
      svg
div.question-total.page-block.col2
  h1 INSIGHT OVERVIEW
  ul.stat-info
    - if(data.total && data.total.length == 1)
      li
        h3 Total number of Responses
        h4 #{data.total[0].numberCounter}
      li
        h3 Correct Response
        h4 #{data.correct}
      li
        h3 Average Response
        h4 #{data.total[0].numberAvg}
      li
        h3 Percentage of correct Responses
        h4 #{data.correctPercentage}%

div.overview-state.page-block.col2
  h1 TOP 10 RESPONSES
  - if(data.top && data.top.length > 0)
    table.stat-list
      for top in data.top
        tr.number.slidedeck-complete 
          td
            h3 #{top.numberAvg}
          td
            h4 #{top.numberCounter}
  - else
    p Not available

div.clear