footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  background: #333;
  height: 15px;
  color: #fff;
  padding: 15px 20px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}