.menu-container {
	background: #dbdbdb;
	position: absolute;
	left: 0;
	top:163px;
	bottom: 0;
	width: 260px;

	box-shadow: inset -2px 0 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset -2px 0 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset -2px 0 2px rgba(0,0,0,0.3);

	a {
		height:19px;
		padding: 20px;
		padding-left: 40px;
		width: 200px;
		display: block;
		border-top: rgba(255,255,255,0.7) 1px solid;
		border-bottom: #999 1px solid;
		text-decoration: none;
		color: #666;
		font-weight: 600;
		text-shadow: 0 1px 1px #fff;
		position: relative;
	}
	a:before {
		content: '';
		width: 12px;
		height: 12px;
		background: #cccccc;
		position: absolute;
		left:15px;
		top: 22px;
		border-radius: 3px;

		box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	}
	li.active a:before, li a:hover:before {
		background:#479ddb;
	}
	li:first-of-type a, li:first-of-type:hover a, li.active:first-of-type:hover a {
		border-top: none;
	}
	li.active a, a:hover {
		background: rgba(0,0,0,0.1);
		color: #333;
	}
	ul:after {
		content: '';
		width:260px;
		height:10px;
		border-top: rgba(255,255,255,0.7) 1px solid;
		position: absolute;
		left:0;
	}
}