/* global vars here... */

.border-box() {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bottom-shadow() {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 8px;
  left: 4px;
  right: 4px;
  background: url("images/fx/shadow.png") no-repeat;
  background-size: 100% 8px;
}

.grey-button(@height: 48px) {
  -webkit-appearance: none;
  text-decoration: none;
  background: #8E8E8E;
  background: -webkit-linear-gradient(top, #c9c9c9 0%, #8e8e8e 100%);
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 1px #666;
  box-shadow: inset 0 1px 0 #fff, 0 1px 2px #aaa;
  height: @height;
  line-height: @height;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  min-width: 110px;
  .border-box();
}

.grey-button-active() {
  background: #888;
  box-shadow: inset 0 1px 0 #777;
}

.grey-header() {
  text-align: center;
  background: #D0D0D0 -webkit-linear-gradient(top, #f2f2f2 0%, #ccc 100%);
  display: block;
  padding: 16px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px #A1A1A1 solid;
  box-shadow: inset 0 0 1px #fff, 0 1px 2px #aaa;
  margin: 0;
  .border-box();
}

.home-bg() {
  background: url("images/background/horizon.png") no-repeat 0 164px, url("images/background/home-bg.jpg") no-repeat;
  background-size: 1024px 302px, 1024px 748px;
}

.swipe-bg(@top-dist: 131px) {
  background: url("images/background/black-bg.jpg") no-repeat 0 @top-dist, url("images/background/home-bg.jpg");
  background-size: 1024px 221px, 100% 100%;
}