a.datepicker-input{
	width: 340px;
  height: 26px;
  display: block;
  background-color: white;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor:pointer;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;

  span.value {
    font-size: 16px;
    color: #404040;
    position: relative;
    top: 0;
    height: 26px;
    line-height: 26px;
    left: 5px;
    width: 250px;
    text-align: center;
  }

	span.control{
		background: #F7F7F7 url(../assets/images/layout/date_control_down.gif) no-repeat 50% 50%;
		display: block;
    position: absolute;
    width: 19px;
    height: 28px;
    top: 0;
    right: 0;
    
    border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}

	span.control.open{
		background: #F7F7F7 url(../assets/images/layout/date_control_up.gif) no-repeat 50% 50%;
	}
}

		  
.datepicker-calendar {
  overflow: hidden;
  width: 497px;
  height:150px;
  padding:10px 0 0 10px;
}
		  
/* Remove default border from the custom widget since we're adding our own.  TBD: rework the dropdown calendar to use the default borders */
.datepicker-calendar div.datepicker {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

div.datepicker-selection {
	display: none;
	position: relative;
	top: 25px;
	right: 0px;
	width: 700px;
	height:170px;
	padding: 5px;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
	border-radius: 5px 0px 5px 5px;

	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);

	table {
	 	width:100%;
	 	height: 100%;
	 	text-align: center;
	}

	div.datepicker {
		font-family: 'Open Sans', Helvetica, sans-serif;

		/*.datepickerDoW th {
			background-color:#DDDDDD;
		}
		th a.datepickerMonth {
			color: #fff;
			font-weight: 400;
		}*/
		.datepickerMonth {
			font-weight: 600;
		}
		tbody.datepickerDays td.datepickerSelected {
			background-color: #479ddb;
		}
		.datepickerBlock:first-of-type table{
			-webkit-border-top-left-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;

			tr:first-of-type th{
				-webkit-border-top-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;
			}
		}
		.datepickerBlock:last-of-type table{
			-webkit-border-top-right-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-topright: 5px;
			-moz-border-radius-bottomright: 5px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;

			tr:first-of-type th{
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topright: 5px;
				border-top-right-radius: 5px;
			}
		}
	}
	.datepicker-options {
		padding: 5px;
	 	padding-top: 20px;
	 	font-size: 12px;

	 	button{
	 		margin:5px;
	 	}
		select {
			width:100px;
			background: white;
			padding: 5px;
			font-size: 16px;
			border: 1px solid #ccc;
			text-align: center;
			font-size: 12px;
			height: 30px;
			line-height: 30px;
			color: #404040;
			margin-left: 10px;
		}
		button {
			width: 80px;
			height: 30px;
			border-style: none;
			font-size: 12px;
			font-weight: 600;
			text-shadow: 0 1px 1px #fff;
			text-transform: uppercase;

			border: 1px solid #999999;
			background: rgb(233,233,233);
			background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(198,198,198,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,1)), color-stop(100%,rgba(198,198,198,1)));
			background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(198,198,198,1) 100%);
			background: -o-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(198,198,198,1) 100%);
			background: -ms-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(198,198,198,1) 100%);
			background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(198,198,198,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#c6c6c6',GradientType=0 );
			
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			box-shadow: inset 0 1px 1px #fff, 0 1px 1px rgba(0,0,0,0.2);
			-moz-box-shadow: inset 0 1px 1px #fff, 0 1px 1px rgba(0,0,0,0.2);
			-webkit-box-shadow: inset 0 1px 1px #fff, 0 1px 1px rgba(0,0,0,0.2);
		}
		button:hover, button:active {
			background: rgb(198,198,198);
			background: -moz-linear-gradient(top,  rgba(198,198,198,1) 0%, rgba(233,233,233,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,198,198,1)), color-stop(100%,rgba(233,233,233,1)));
			background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(233,233,233,1) 100%);
			background: -o-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(233,233,233,1) 100%);
			background: -ms-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(233,233,233,1) 100%);
			background: linear-gradient(to bottom,  rgba(198,198,198,1) 0%,rgba(233,233,233,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#e9e9e9',GradientType=0 );
			
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
			-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
		}
		hr {
			height: 1px;
			border-top: none;
			border: none;
			background-color: #dddddd;
			color: #dddddd;
			margin:10px 0;
		}
	}
}
